## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

2024-03-06 13:26:56.468794: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 AVX512F AVX512_VNNI FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(['EIN'], axis=1)
application_df.head()

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [4]:
# Look at NAME value counts for binning
name_counts = application_df['NAME'].value_counts()
name_counts

NAME
PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: count, Length: 19568, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
names_to_replace = list(name_counts[name_counts<5].index)

# Replace in dataframe
for app in names_to_replace:
    application_df['NAME'] = application_df['NAME'].replace(app,"Other")

# Check to make sure binning was successful
application_df['NAME'].value_counts()

NAME
Other                                                                19803
PARENT BOOSTER USA INC                                                1260
TOPS CLUB INC                                                          765
UNITED STATES BOWLING CONGRESS INC                                     700
WASHINGTON STATE UNIVERSITY                                            492
                                                                     ...
GUILDS OF THE SANTA FE OPERA INC                                         5
FAMILY MOTOR COACH ASSOCIATION                                           5
JAMESTOWN SOCIETY                                                        5
MOST WORSHIPFUL PRINCE HALL GRAND LODGE OF FREE & ACCEPTED MASONS        5
PTA HAWAII CONGRESS                                                      5
Name: count, Length: 403, dtype: int64

In [6]:
# Look at APPLICATION_TYPE value counts for binning
application_counts = application_df['APPLICATION_TYPE'].value_counts()
application_counts

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [7]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(application_counts[application_counts<500].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [8]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df['CLASSIFICATION'].value_counts()
classification_counts

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [9]:
# You may find it helpful to look at CLASSIFICATION value counts >1
class_gt_1 = classification_counts.loc[classification_counts>1]
class_gt_1

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [10]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classification_counts[classification_counts<500].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1484
C7000      777
Name: count, dtype: int64

In [11]:
# Convert categorical data to numeric with `pd.get_dummies`
dummies_df = pd.get_dummies(application_df)
dummies_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_AACE INTERNATIONAL,NAME_ACE MENTOR PROGRAM OF AMERICA INC,NAME_ACTS MINISTRY,NAME_ACTS MISSIONS,NAME_AFRICAN-AMERICAN POSTAL LEAGUE UNITED FOR SUCCESS A-PLUS,NAME_AIR FORCE ASSOCIATION,NAME_ALABAMA FEDERATION OF WOMENS CLUBS,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,1,108590,1,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,True,False
2,1,5000,0,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
3,1,6692,1,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,True,False
4,1,142590,1,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,True,False

In [12]:
# Split our preprocessed data into our features and target arrays
y = dummies_df['IS_SUCCESSFUL'].values
X = dummies_df.drop(columns=['IS_SUCCESSFUL']).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [13]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [14]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
# increase units to 8, 14, 1 

inputs = len(X_train_scaled[0])

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=8, activation="relu", input_dim=inputs))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=15, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 8)                 3584

 dense_1 (Dense)             (None, 15)                135

 dense_2 (Dense)             (None, 1)                 16

=================================================================
Total params: 3735 (14.59 KB)
Trainable params: 3735 (14.59 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [15]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [16]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=110)

Epoch 1/110
804/804 [==============================] - 6s 4ms/step - loss: 0.5782 - accuracy: 0.7337
Epoch 2/110
804/804 [==============================] - 3s 3ms/step - loss: 0.4490 - accuracy: 0.7889
Epoch 3/110
804/804 [==============================] - 3s 4ms/step - loss: 0.4371 - accuracy: 0.7918
Epoch 4/110
804/804 [==============================] - 2s 3ms/step - loss: 0.4324 - accuracy: 0.7939
Epoch 5/110
804/804 [==============================] - 3s 4ms/step - loss: 0.4295 - accuracy: 0.7947
Epoch 6/110
804/804 [==============================] - 2s 3ms/step - loss: 0.4275 - accuracy: 0.7957
Epoch 7/110
804/804 [==============================] - 3s 3ms/step - loss: 0.4251 - accuracy: 0.7966
Epoch 8/110
804/804 [==============================] - 3s 3ms/step - loss: 0.4243 - accuracy: 0.7966
Epoch 9/110
804/804 [==============================] - 3s 3ms/step - loss: 0.4228 - accuracy: 0.7967
Epoch 10/110
804/804 [==============================] - 2s 3ms/step - loss: 0.4217 - accuracy: 0.7973
Epoch 11/110
804/804 [==============================] - 3s 4ms/step - loss: 0.4219 - accuracy: 0.7982
Epoch 12/110
804/804 [==============================] - 4s 5ms/step - loss: 0.4206 - accuracy: 0.7972
Epoch 13/110
804/804 [==============================] - 3s 3ms/step - loss: 0.4199 - accuracy: 0.7989
Epoch 14/110
804/804 [==============================] - 3s 3ms/step - loss: 0.4198 - accuracy: 0.7980
Epoch 15/110
804/804 [==============================] - 3s 3ms/step - loss: 0.4189 - accuracy: 0.7989
Epoch 16/110
804/804 [==============================] - 2s 3ms/step - loss: 0.4186 - accuracy: 0.7999
Epoch 17/110
804/804 [==============================] - 3s 3ms/step - loss: 0.4183 - accuracy: 0.7976
Epoch 18/110
804/804 [==============================] - 2s 3ms/step - loss: 0.4183 - accuracy: 0.7995
Epoch 19/110
804/804 [==============================] - 2s 3ms/step - loss: 0.4176 - accuracy: 0.7998
Epoch 20/110
804/804 [==============================] - 2s 3ms/step - loss: 0.4176 - accuracy: 0.7998
Epoch 21/110
804/804 [==============================] - 2s 3ms/step - loss: 0.4171 - accuracy: 0.8002
Epoch 22/110
804/804 [==============================] - 2s 3ms/step - loss: 0.4171 - accuracy: 0.8003
Epoch 23/110
804/804 [==============================] - 2s 3ms/step - loss: 0.4169 - accuracy: 0.8000
Epoch 24/110
804/804 [==============================] - 4s 5ms/step - loss: 0.4163 - accuracy: 0.8007
Epoch 25/110
804/804 [==============================] - 2s 3ms/step - loss: 0.4161 - accuracy: 0.8000
Epoch 26/110
804/804 [==============================] - 3s 3ms/step - loss: 0.4153 - accuracy: 0.8010
Epoch 27/110
804/804 [==============================] - 2s 3ms/step - loss: 0.4156 - accuracy: 0.8008
Epoch 28/110
804/804 [==============================] - 3s 3ms/step - loss: 0.4151 - accuracy: 0.8006
Epoch 29/110
804/804 [==============================] - 2s 3ms/step - loss: 0.4151 - accuracy: 0.8004
Epoch 30/110
804/804 [==============================] - 2s 3ms/step - loss: 0.4145 - accuracy: 0.8010
Epoch 31/110
804/804 [==============================] - 3s 3ms/step - loss: 0.4145 - accuracy: 0.8008
Epoch 32/110
804/804 [==============================] - 2s 3ms/step - loss: 0.4146 - accuracy: 0.8019
Epoch 33/110
804/804 [==============================] - 5s 6ms/step - loss: 0.4146 - accuracy: 0.8014
Epoch 34/110
804/804 [==============================] - 2s 3ms/step - loss: 0.4142 - accuracy: 0.8022
Epoch 35/110
804/804 [==============================] - 2s 3ms/step - loss: 0.4144 - accuracy: 0.8024
Epoch 36/110
804/804 [==============================] - 3s 3ms/step - loss: 0.4137 - accuracy: 0.8019
Epoch 37/110
804/804 [==============================] - 4s 4ms/step - loss: 0.4135 - accuracy: 0.8015
Epoch 38/110
804/804 [==============================] - 3s 4ms/step - loss: 0.4134 - accuracy: 0.8019
Epoch 39/110
804/804 [==============================] - 2s 3ms/step - loss: 0.4138 - accuracy: 0.8022
Epoch 40/110
804/804 [==============================] - 2s 3ms/step - loss: 0.4132 - accuracy: 0.8019
Epoch 41/110
804/804 [==============================] - 2s 3ms/step - loss: 0.4133 - accuracy: 0.8026
Epoch 42/110
804/804 [==============================] - 2s 3ms/step - loss: 0.4137 - accuracy: 0.8021
Epoch 43/110
804/804 [==============================] - 3s 4ms/step - loss: 0.4131 - accuracy: 0.8023
Epoch 44/110
804/804 [==============================] - 2s 3ms/step - loss: 0.4129 - accuracy: 0.8019
Epoch 45/110
804/804 [==============================] - 3s 3ms/step - loss: 0.4132 - accuracy: 0.8023
Epoch 46/110
804/804 [==============================] - 2s 3ms/step - loss: 0.4127 - accuracy: 0.8031
Epoch 47/110
804/804 [==============================] - 3s 4ms/step - loss: 0.4128 - accuracy: 0.8030
Epoch 48/110
804/804 [==============================] - 2s 3ms/step - loss: 0.4124 - accuracy: 0.8025
Epoch 49/110
804/804 [==============================] - 3s 3ms/step - loss: 0.4128 - accuracy: 0.8022
Epoch 50/110
804/804 [==============================] - 2s 3ms/step - loss: 0.4122 - accuracy: 0.8022
Epoch 51/110
804/804 [==============================] - 2s 3ms/step - loss: 0.4124 - accuracy: 0.8022
Epoch 52/110
804/804 [==============================] - 2s 3ms/step - loss: 0.4118 - accuracy: 0.8022
Epoch 53/110
804/804 [==============================] - 2s 3ms/step - loss: 0.4120 - accuracy: 0.8028
Epoch 54/110
804/804 [==============================] - 2s 3ms/step - loss: 0.4120 - accuracy: 0.8028
Epoch 55/110
804/804 [==============================] - 3s 3ms/step - loss: 0.4115 - accuracy: 0.8031
Epoch 56/110
804/804 [==============================] - 3s 3ms/step - loss: 0.4114 - accuracy: 0.8033
Epoch 57/110
804/804 [==============================] - 3s 3ms/step - loss: 0.4114 - accuracy: 0.8033
Epoch 58/110
804/804 [==============================] - 2s 3ms/step - loss: 0.4118 - accuracy: 0.8038
Epoch 59/110
804/804 [==============================] - 2s 3ms/step - loss: 0.4114 - accuracy: 0.8036
Epoch 60/110
804/804 [==============================] - 2s 3ms/step - loss: 0.4111 - accuracy: 0.8036
Epoch 61/110
804/804 [==============================] - 2s 3ms/step - loss: 0.4112 - accuracy: 0.8031
Epoch 62/110
804/804 [==============================] - 3s 4ms/step - loss: 0.4109 - accuracy: 0.8029
Epoch 63/110
804/804 [==============================] - 6s 8ms/step - loss: 0.4108 - accuracy: 0.8027
Epoch 64/110
804/804 [==============================] - 4s 5ms/step - loss: 0.4109 - accuracy: 0.8039
Epoch 65/110
804/804 [==============================] - 3s 4ms/step - loss: 0.4109 - accuracy: 0.8028
Epoch 66/110
804/804 [==============================] - 5s 6ms/step - loss: 0.4105 - accuracy: 0.8037
Epoch 67/110
804/804 [==============================] - 3s 3ms/step - loss: 0.4110 - accuracy: 0.8022
Epoch 68/110
804/804 [==============================] - 3s 3ms/step - loss: 0.4106 - accuracy: 0.8031
Epoch 69/110
804/804 [==============================] - 2s 3ms/step - loss: 0.4105 - accuracy: 0.8037
Epoch 70/110
804/804 [==============================] - 2s 3ms/step - loss: 0.4103 - accuracy: 0.8036
Epoch 71/110
804/804 [==============================] - 3s 3ms/step - loss: 0.4103 - accuracy: 0.8049
Epoch 72/110
804/804 [==============================] - 2s 3ms/step - loss: 0.4105 - accuracy: 0.8030
Epoch 73/110
804/804 [==============================] - 2s 3ms/step - loss: 0.4109 - accuracy: 0.8031
Epoch 74/110
804/804 [==============================] - 2s 3ms/step - loss: 0.4104 - accuracy: 0.8032
Epoch 75/110
804/804 [==============================] - 2s 3ms/step - loss: 0.4103 - accuracy: 0.8033
Epoch 76/110
804/804 [==============================] - 2s 3ms/step - loss: 0.4105 - accuracy: 0.8032
Epoch 77/110
804/804 [==============================] - 2s 3ms/step - loss: 0.4101 - accuracy: 0.8026
Epoch 78/110
804/804 [==============================] - 2s 3ms/step - loss: 0.4102 - accuracy: 0.8041
Epoch 79/110
804/804 [==============================] - 2s 3ms/step - loss: 0.4098 - accuracy: 0.8042
Epoch 80/110
804/804 [==============================] - 2s 3ms/step - loss: 0.4094 - accuracy: 0.8036
Epoch 81/110
804/804 [==============================] - 2s 3ms/step - loss: 0.4097 - accuracy: 0.8039
Epoch 82/110
804/804 [==============================] - 6s 7ms/step - loss: 0.4104 - accuracy: 0.8029
Epoch 83/110
804/804 [==============================] - 4s 5ms/step - loss: 0.4100 - accuracy: 0.8041
Epoch 84/110
804/804 [==============================] - 5s 6ms/step - loss: 0.4095 - accuracy: 0.8043
Epoch 85/110
804/804 [==============================] - 4s 5ms/step - loss: 0.4097 - accuracy: 0.8043
Epoch 86/110
804/804 [==============================] - 4s 5ms/step - loss: 0.4097 - accuracy: 0.8031
Epoch 87/110
804/804 [==============================] - 4s 4ms/step - loss: 0.4096 - accuracy: 0.8045
Epoch 88/110
804/804 [==============================] - 3s 4ms/step - loss: 0.4094 - accuracy: 0.8042
Epoch 89/110
804/804 [==============================] - 3s 3ms/step - loss: 0.4097 - accuracy: 0.8045
Epoch 90/110
804/804 [==============================] - 3s 3ms/step - loss: 0.4095 - accuracy: 0.8043
Epoch 91/110
804/804 [==============================] - 3s 4ms/step - loss: 0.4091 - accuracy: 0.8040
Epoch 92/110
804/804 [==============================] - 4s 4ms/step - loss: 0.4093 - accuracy: 0.8045
Epoch 93/110
804/804 [==============================] - 3s 4ms/step - loss: 0.4086 - accuracy: 0.8050
Epoch 94/110
804/804 [==============================] - 4s 5ms/step - loss: 0.4099 - accuracy: 0.8042
Epoch 95/110
804/804 [==============================] - 3s 3ms/step - loss: 0.4087 - accuracy: 0.8048
Epoch 96/110
804/804 [==============================] - 2s 3ms/step - loss: 0.4089 - accuracy: 0.8039
Epoch 97/110
804/804 [==============================] - 3s 3ms/step - loss: 0.4095 - accuracy: 0.8034
Epoch 98/110
804/804 [==============================] - 2s 3ms/step - loss: 0.4088 - accuracy: 0.8042
Epoch 99/110
804/804 [==============================] - 2s 3ms/step - loss: 0.4087 - accuracy: 0.8050
Epoch 100/110
804/804 [==============================] - 2s 3ms/step - loss: 0.4087 - accuracy: 0.8047
Epoch 101/110
804/804 [==============================] - 2s 3ms/step - loss: 0.4085 - accuracy: 0.8045
Epoch 102/110
804/804 [==============================] - 2s 3ms/step - loss: 0.4088 - accuracy: 0.8044
Epoch 103/110
804/804 [==============================] - 2s 3ms/step - loss: 0.4083 - accuracy: 0.8057
Epoch 104/110
804/804 [==============================] - 3s 3ms/step - loss: 0.4084 - accuracy: 0.8047
Epoch 105/110
804/804 [==============================] - 2s 3ms/step - loss: 0.4085 - accuracy: 0.8052
Epoch 106/110
804/804 [==============================] - 2s 3ms/step - loss: 0.4089 - accuracy: 0.8044
Epoch 107/110
804/804 [==============================] - 2s 3ms/step - loss: 0.4081 - accuracy: 0.8051
Epoch 108/110
804/804 [==============================] - 2s 3ms/step - loss: 0.4083 - accuracy: 0.8048
Epoch 109/110
804/804 [==============================] - 2s 3ms/step - loss: 0.4082 - accuracy: 0.8047
Epoch 110/110
804/804 [==============================] - 2s 3ms/step - loss: 0.4081 - accuracy: 0.8045

In [17]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 2s - loss: 0.4456 - accuracy: 0.7910 - 2s/epoch - 6ms/step
Loss: 0.44557657837867737, Accuracy: 0.791020393371582

In [ ]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity.h5")

/Users/briannehan/anaconda3/lib/python3.11/site-packages/keras/src/engine/training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(